<mat-toolbar>
	<span class="spacer"></span>
	Youtube - Streamer
	<span class="spacer"></span>
	<mat-toolbar-row>
	<span class="spacer"></span>
	<button mat-button mat-fab (click)='login()'>Login</button>
	<span class="spacer"></span>
	</mat-toolbar-row>
	<mat-toolbar-row>
	</mat-toolbar-row>
</mat-toolbar>
