<mat-toolbar color="primary"> <span>YouTube - Streamer</span> <span class="spacer"></span>
	<button mat-button [matMenuTriggerFor]="appMenu">
		<mat-icon>menu</mat-icon>
		Menu
	</button>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
	<button mat-menu-item (click)='logout()'>Logout</button>
</mat-menu>

<mat-grid-list cols="4" rowHeight="2:1">
	<mat-grid-tile *ngFor="let video of videos" >
		<mat-grid-tile-header>
			<button mat-button (click)="openVideo(video)">{{video.snippet.title}}</button>			
		</mat-grid-tile-header>
 		<img mat-card-image src="{{video.snippet.thumbnails.high.url}}" alt="{{video.snippet.title}}">
	</mat-grid-tile>
</mat-grid-list>