.icon14 {
	padding: 0 14px;
}

.spacer {
	flex: 1 1 auto;
}

.example-card {
  width: 100%;
}

.example-header-image {
  background-image: url('http://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}