/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    /* padding: 1em 1em; */
    padding: 3% 10%;
    background: lightgray;
}